:root {
  --accent-light: #544EFD;
  --accent-dark: #2B2880;
  --bg-clr: #1F1B2E;
  --font-clr: #F6F6F6;
}

.progress-container {
  width: 350px;
  margin: 0 auto;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.main {
 
}