:root {
  --accent-light: #544EFD;
  --accent-low-alpha: #7a78ad98;
  --accent-dark: #2B2880;
  --bg-clr: #1F1B2E;
  --font-clr: #F6F6F6;
}

.header {
  text-align: center;
  padding: 2rem 1rem;
  font-size: 1.7rem;
}

.text {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.progress-container {
  width: 350px;
  margin: 0 auto;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.main {
 
}